@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    text-align: center;
    background-color: #1b1a1a;
}

#input {
    width: 50%;
    height: 35px;
    padding: 10px 10px;
    color:  #000000;
    font-family: 'Arial', Courier, monospace;
    background: #1c1b20;
    font-size: 15.55px;
    border-radius: 10px;
    border-color: #2b2a33;
    border-width: 1px;
    border: 1px solid #000000;
    transition: all .5s ease-in-out;
}

#input:focus {
	background-color: #000000;
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

#submit {
    width: 5.5%;
}

#submit, .proxy {
    height: 56px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    background: #39383a;
    border: 1px solid #000000;
    font-family: 'Courier New', Courier, monospace;
    border-color: #000000;
    border-width: 1px;
    transition: 0.5s;
    padding: 10px;
}

#submit:hover, .proxy:hover {
    cursor: pointer;
    background: #312f2f;
    color: #fffafa;
}

.selected {
    background-color: #202121;
    color: black;
}

.navbar a {
    color: #ffffff;
    display: block;
    float: left;
    font-size: 15px;
    padding: 15px 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid;
    border-color: #7ee3fa;
    transition: 0.5s;
}

.navbar i {
    color: #000000;
    display: block;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 25px;
    font-size: 30px;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
}

.navbar i:hover {
    cursor: pointer;
}

.navbar a:hover {
    cursor: pointer;
    border-color: rgb(0, 0, 0);
    border-width: 2.5px;
    padding: 15px 20px;
}

.link {
    color: #000000;
}

.back a {
    color: #000000;
    display: block;
    float: left;
    font-size: 17px;
    padding: 12px 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid #000000;
    border-color: #000000;
}

.back i {
    color: #000000;
    display: block;
    float: left;
    margin-left: 25px;
    font-size: 30px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
}

.back i:hover {
    cursor: pointer;
}

.back a:hover {
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
}
